In [6]:
import pandas as pd
data = pd.DataFrame({"Income": [12000, 16000, 50000, 10000],
                     "Expenditure": ["cars", "bikes", "house", "mecelinious"]},
                    index = ["1", "2", "3", "4"])
data

   Income  Expenditure
1   12000         cars
2   16000        bikes
3   50000        house
4   10000  mecelinious

In [8]:
income = int(input("Enter for income: "))
expenditure = int(input("Enter your daily expenditures: "))
print(income)
order_list = []
for m in income:
    order_list.append(m)

Enter for income: 700
Enter your daily expenditures: 550
700

TypeError: 'int' object is not iterable